<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultLayout">
<head>
    <title>Home</title>
</head>
<body>
    <div layout:fragment="content">
        <h2 th:text="${title}">Default Title</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Users Microservice</h5>
                            <p class="card-text">View all users from the Users REST API</p>
                            <a href="/app/getusers" class="btn btn-primary">View Users</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Orders Microservice</h5>
                            <p class="card-text">View all orders from the Orders REST API</p>
                            <a href="/app/getorders" class="btn btn-primary">View Orders</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html> 